<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <label>
    First Name:
    <input type="text" formControlName="firstName">
  </label>
  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
  <label>
    Age:
    <input formControlName="age">
  </label>
  <label>
    Email:
    <input type="email" formControlName="email">
  </label>
  <div formGroupName="address">
    <h3>Address</h3>
    <label>
      Address 1:
      <input type="text" formControlName="address1">
    </label>
    <label>
      Address 2:
      <input type="text" formControlName="address2">
    </label>
    <label>
      State:
      <input type="text" formControlName="state">
    </label>
    <label>
      Zip:
      <input type="text" formControlName="zip">
    </label>
  </div>

  <button type="submit" [disabled]="!myForm.valid">Create</button>

  <p>
    <button (click)="updateModelPartially()">Update Partially</button>
  </p>

</form>

<main>
  <router-outlet></router-outlet>
</main>